{% include "partials/header.html" %}
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>EPyTodo c'est quoi ?</h2>
          <p class="lead">EPyTodo c'est votre nouveau moyen pour vous rappeler des tâches que vous avez à faire et ainsi mieux vous organiser.</p>
          <ul>
            <li>Facilité</li>
            <li>Simplicité</li>
            <li>Made in Epitech</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% include "partials/footer.html" %}